html {
    font-family: 'Arial', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Georgia', serif;
    @include font(4.4rem, 130%, 400, normal);
    color: $color-light-xl;
    margin: 0;
    padding: 0;
    @include media-mobile-XL {
        @include font(2.5rem, 130%, 400, normal);
        text-align: center;
        letter-spacing: 0.06em;
    }
}

h2 {
    font-family: 'Georgia', serif;
    @include font(3.5rem, 130%, 400, normal);
    color: $color-dark-l;
    margin: 0;
    letter-spacing: 0.06em;
    @include media-mobile-XL {
        @include font(2.5rem, 130%, 400, normal);
        text-align: center;
    }
}

h3 {
    font-family: 'Georgia', serif;
    @include font(2.0rem, 115%, 400, normal);
    color: $color-dark-4xl;
    margin: 0;
    letter-spacing: 0.06em;
    @include media-mobile-XL {
        @include font(2.5rem, 130%, 400, normal);
        text-align: center;
    }
}

.wrapper {
    max-width: $content-width;
    margin: auto;
}

.no-scroll {
    overflow-y: hidden;
}