@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial"), url("../../fonts/arial.woff2") format("woff2"), url("../../fonts/arial.woff") format("woff"), url("../../fonts/arial.ttf") format("ttf");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  src: local("Arial"), url("../../fonts/arial-bold.woff2") format("woff2"), url("../../fonts/arial-bold.woff") format("woff"), url("../../fonts/arial-bold.ttf") format("ttf");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia"), url("../../fonts/georgia.woff2") format("woff2"), url("../../fonts/georgia.woff") format("woff"), url("../../fonts/georgia.ttf") format("ttf");
}
@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  src: local("Georgia"), url("../../fonts/georgia-bold.woff2") format("woff2"), url("../../fonts/georgia-bold.woff") format("woff"), url("../../fonts/georgia-bold.ttf") format("ttf");
}
.pet-card-pets, .header-pets-hamburger, .header-pets-navigation ul li a, .header-pets-logo, .address p, .contacts p, .in-addition-content a p, .pet-card, .header-hamburger, .header-navigation ul li a, .header-logo, .button-type-3, .button-type-2, .button-type-1 {
  transition: all 300ms ease-in-out;
}

.header-overlay-show, .header-overlay {
  transition: all 500ms ease-in-out;
}

html {
  font-family: "Arial", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

h1 {
  font-family: "Georgia", serif;
  font-size: 4.4rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
@media (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.06em;
  }
}

h2 {
  font-family: "Georgia", serif;
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  color: #545454;
  margin: 0;
  letter-spacing: 0.06em;
}
@media (max-width: 550px) {
  h2 {
    font-size: 2.5rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}

.wrapper {
  max-width: 1280px;
  margin: auto;
}

.no-scroll {
  position: fixed;
  width: 100%;
}

.button-type-1 {
  display: inline-flex;
  font-family: "Georgia", serif;
  font-size: 1.7rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  border: 0px;
  background-color: #F1CDB3;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button-type-1:hover {
  background-color: #FDDCC4;
}

.button-type-2 {
  font-family: "Georgia", serif;
  font-size: 1.7rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #292929;
  border-radius: 100px;
  border: solid 2px #F1CDB3;
  background-color: #FAFAFA;
  cursor: pointer;
}
.button-type-2:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.button-type-3 {
  color: #292929;
  border-radius: 100px;
  border: solid 2px #F1CDB3;
  background-color: rgba(0, 0, 0, 0);
  width: 52px;
  height: 52px;
  cursor: pointer;
}
.button-type-3:hover {
  background-color: #FDDCC4 !important;
  border-color: #FDDCC4 !important;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 40px 0 40px;
  padding: 30px 0 30px 0;
}
@media (max-width: 1024px) {
  .header-content {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 550px) {
  .header-content {
    margin: 0 20px 0 20px;
  }
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.header-logo p:first-child {
  font-family: "Georgia", serif;
  font-size: 3.2rem;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}
.header-logo p:last-child {
  font-size: 1.3rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0 0 0;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}
.header-logo:hover {
  transform: scale(1.03);
}

@media (max-width: 767px) {
  .header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0px;
    z-index: 1;
    background-color: #292929;
    transition: all 500ms ease-in-out;
  }
}

.header-navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 16px 0 16px 0;
  padding: 0 0 0 0;
}
@media (max-width: 767px) {
  .header-navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 0;
    overflow: hidden;
  }
}
.header-navigation ul li {
  margin: 0 0 0 36px;
}
@media (max-width: 767px) {
  .header-navigation ul li {
    margin: 40px 0 40px 0;
  }
}
.header-navigation ul li:active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
  transition: all 100ms ease-in-out;
}
.header-navigation ul li:first-child {
  margin: 0 0 0 0;
  border-bottom: solid 3px #F1CDB3;
}
@media (max-width: 767px) {
  .header-navigation ul li:first-child {
    margin: 40px 0 40px 0;
  }
}
.header-navigation ul li:first-child a {
  color: #FAFAFA;
  pointer-events: none;
}
.header-navigation ul li a {
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #CDCDCD;
}
.header-navigation ul li a:hover {
  color: #FAFAFA;
}
.header-navigation ul li a:active {
  color: #FAFAFA;
}
@media (max-width: 767px) {
  .header-navigation ul li a {
    font-size: 3.2rem;
    line-height: 160%;
    font-weight: 400;
    font-style: normal;
    transition: all 0ms ease-in-out;
  }
}

@media (max-width: 767px) {
  .header-navigation-show {
    transition: all 500ms ease-in-out;
    width: 320px;
  }
}
@media (max-width: 767px) {
  .header-navigation-show ul {
    display: flex;
  }
}

.header-hamburger {
  display: none;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
  width: 30px;
  height: 22px;
}
@media (max-width: 767px) {
  .header-hamburger {
    display: flex;
  }
}
.header-hamburger .header-hamburger-line {
  background-color: #F1CDB3;
  width: 30px;
  height: 2px;
}

.rotate-header-hamburger {
  transform: rotate(90deg);
}

.header-overlay {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0%;
  z-index: 1;
  background-color: rgba(38, 18, 0, 0.555);
}

.header-overlay-show {
  width: 100%;
}

.not-only {
  background: url(../../img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  margin: -120px 0 0 0;
  padding: 180px 0 0 0;
}
@media (max-width: 1024px) {
  .not-only {
    padding: 150px 0 0 0;
  }
}

.not-only-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 40px;
}
@media (max-width: 1024px) {
  .not-only-content {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .not-only-content {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 550px) {
  .not-only-content {
    margin: 0 10px 0 10px;
  }
}
.not-only-content img {
  align-self: flex-end;
  max-width: 60%;
}
@media (max-width: 1024px) {
  .not-only-content img {
    max-width: 80.4%;
  }
}
@media (max-width: 767px) {
  .not-only-content img {
    max-width: 87%;
  }
}
.not-only-content div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 65%;
}
@media (max-width: 550px) {
  .not-only-content div {
    align-items: center;
    max-width: 100%;
  }
}
.not-only-content p {
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  color: #CDCDCD;
  padding: 0 40px 0 0;
  margin: 41px 0;
}
@media (max-width: 1024px) {
  .not-only-content p {
    padding: 0 0 0 0;
    text-align: justify;
  }
}
@media (max-width: 550px) {
  .not-only-content p {
    text-align: center;
  }
}
.not-only-content a {
  margin: 0 0 80px 0;
  width: 207px;
  height: 52px;
}
@media (max-width: 1024px) {
  .not-only-content a {
    align-self: center;
    margin: 0 0 100px 0;
  }
}
@media (max-width: 550px) {
  .not-only-content a {
    margin: 0 0 105px 0;
  }
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 40px;
  padding: 80px 0 100px 0;
  min-height: 408px;
}
@media (max-width: 1024px) {
  .about-content {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .about-content {
    padding: 42px 0 42px 0;
    margin: 0 15px 0 15px;
  }
}
.about-content div {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10%;
  max-width: 430px;
}
@media (max-width: 768px) {
  .about-content div {
    padding: 0 0 0 0;
    max-width: 60%;
  }
}
@media (max-width: 550px) {
  .about-content div {
    align-items: center;
    max-width: 94%;
  }
}
.about-content h2 {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.about-content p {
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  color: #4C4C4C;
  margin: 25px 0 0 0;
}
@media (max-width: 550px) {
  .about-content p {
    text-align: justify;
  }
  .about-content p:nth-child(3) {
    margin: 22px 0 0 0;
  }
}
.about-content img {
  max-width: 35%;
}
@media (max-width: 768px) {
  .about-content img {
    order: 1;
    max-width: 300px;
    margin: 80px 0 0 0;
  }
}
@media (max-width: 550px) {
  .about-content img {
    max-width: 260px;
    margin: 40px 0 0 0;
  }
}

.our-friends {
  background-color: #F6F6F6;
}

.our-friends-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 0 40px;
}
@media (max-width: 1024px) {
  .our-friends-content {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 550px) {
  .our-friends-content {
    margin: 0 10px 0 10px;
  }
}
.our-friends-content h2 {
  margin: 80px 0 20px 0;
  text-align: center;
}
@media (max-width: 550px) {
  .our-friends-content h2 {
    margin: 42px 0 2px 0;
  }
}
.our-friends-content .button-type-1 {
  width: 261px;
  height: 52px;
  margin: 20px 0 100px 0;
}
@media (max-width: 550px) {
  .our-friends-content .button-type-1 {
    margin: 42px 0 42px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.switch-pet-block-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.switch-pet-block-card > button:first-child {
  background: center no-repeat url(../../img/icons/arrow-left.svg);
}
@media (max-width: 550px) {
  .switch-pet-block-card > button:first-child {
    margin: 0 11px 0 0;
  }
}
.switch-pet-block-card > button:last-child {
  background: center no-repeat url(../../img/icons/arrow-right.svg);
}
@media (max-width: 550px) {
  .switch-pet-block-card > button:last-child {
    margin: 0 0 0 11px;
  }
}
@media (max-width: 767px) {
  .switch-pet-block-card {
    margin: 42px 0 2px 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 550px) {
  .switch-pet-block-card {
    margin: 0 0 0 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.pet-block-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 82.5%;
  height: 435px;
  padding: 40px 20px 40px 20px;
  overflow-y: hidden;
}
@media (max-width: 1024px) {
  .pet-block-card {
    padding: 40px 12px 40px 12px;
  }
}
@media (max-width: 767px) {
  .pet-block-card {
    justify-content: space-around;
    width: 100%;
    order: -1;
  }
}
@media (max-width: 550px) {
  .pet-block-card {
    padding: 40px 10px 20px 10px;
  }
}

.pet-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0 0 40px 0;
  border-radius: 9px;
}
.pet-card p {
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 30px 0;
}
.pet-card button {
  width: 187px;
  height: 52px;
  margin: 0 0 30px 0;
}
.pet-card:hover {
  transform: scale(1.02);
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.pet-card:hover button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 0 40px;
}
@media (max-width: 1024px) {
  .help-content {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 550px) {
  .help-content {
    margin: 0 10px 0 10px;
  }
}
.help-content h2 {
  margin: 80px 0 60px 0;
  text-align: center;
}
@media (max-width: 550px) {
  .help-content h2 {
    margin: 42px 0 42px 0;
  }
}

.help-block-card {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 45px 0;
  width: 100%;
}
@media (max-width: 1024px) {
  .help-block-card {
    justify-content: space-between;
    width: 89%;
  }
}
@media (max-width: 550px) {
  .help-block-card {
    padding: 0 0 10px 0;
    width: 96%;
  }
}

.help-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 113px;
  margin: 0 5% 55px 5%;
}
@media (max-width: 1024px) {
  .help-card {
    width: 170px;
    margin: 0 0 55px 0;
  }
}
@media (max-width: 550px) {
  .help-card {
    height: 87px;
    width: 130px;
    margin: 0 0 30px 0;
  }
}
.help-card p {
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 0 0 0 0;
}
@media (max-width: 550px) {
  .help-card p {
    font-size: 1.5rem;
    line-height: 115%;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 550px) {
  .help-card img {
    width: 50px;
    height: 50px;
  }
}

.in-addition {
  background-color: #F6F6F6;
}

.in-addition-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 40px;
  padding: 80px 0 100px 0;
}
@media (max-width: 1024px) {
  .in-addition-content {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 768px) {
  .in-addition-content {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .in-addition-content {
    margin: 0 20px 0 20px;
    padding: 42px 0 42px 0;
  }
}
.in-addition-content img {
  max-width: 45%;
}
@media (max-width: 768px) {
  .in-addition-content img {
    margin: 60px 0 0 0;
    max-width: 505px;
    order: 1;
  }
}
@media (max-width: 550px) {
  .in-addition-content img {
    margin: 42px 0 0 0;
    max-width: 93%;
  }
}
.in-addition-content div {
  margin: 0 0 0 30px;
  max-width: 380px;
}
@media (max-width: 1024px) {
  .in-addition-content div {
    margin: 0 0 0 30px;
  }
}
@media (max-width: 768px) {
  .in-addition-content div {
    margin: 0 0 0 0;
  }
}
@media (max-width: 550px) {
  .in-addition-content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
}
.in-addition-content h2 {
  padding: 0 0 0 0;
}
.in-addition-content p:nth-child(2) {
  font-family: "Georgia", serif;
  font-size: 1.5rem;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 19px 0 18px 0;
}
@media (max-width: 550px) {
  .in-addition-content p:nth-child(2) {
    font-size: 1.5rem;
    line-height: 160%;
    font-weight: 400;
    font-style: normal;
    margin: 20px 0 20px 0;
    letter-spacing: 0em;
  }
}
.in-addition-content a p {
  display: inline-block;
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  color: #545454;
  letter-spacing: 0.06em;
  background-color: #F1CDB3;
  border-radius: 9px;
  padding: 10px 15px 10px 15px;
  margin: 0 0 0 0;
}
@media (max-width: 550px) {
  .in-addition-content a p {
    font-size: 1.5rem;
    line-height: 110%;
    font-weight: 400;
    font-style: normal;
    padding: 15px 14px 9px 14px;
  }
}
.in-addition-content a p:hover {
  transform: scale(1.03);
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.2);
}
.in-addition-content a p::before {
  content: " ";
  text-align: left;
  float: left;
  background: no-repeat url(../../img/icons/credit-card.svg);
  display: block;
  height: 23px;
  width: 45px;
}
@media (max-width: 550px) {
  .in-addition-content a p::before {
    margin-top: -2px;
  }
}
.in-addition-content p:nth-child(4) {
  font-family: "Georgia", serif;
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 400;
  font-style: normal;
  color: #B2B2B2;
  margin: 20px 0 0 0;
}
@media (max-width: 550px) {
  .in-addition-content p:nth-child(4) {
    text-align: justify;
  }
}

.footer {
  background: url(../../img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 40px 0 40px;
  padding: 40px 0 0 0;
}
@media (max-width: 1024px) {
  .footer-content {
    justify-content: space-around;
    margin: 0 30px 0 30px;
    padding: 30px 0 0 0;
  }
}
@media (max-width: 550px) {
  .footer-content {
    margin: 0 10px 0 10px;
  }
}
.footer-content h2 {
  color: #FFFFFF;
  padding: 0 0 0 0;
}
.footer-content p {
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}
@media (max-width: 1024px) {
  .footer-content img {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 550px) {
  .footer-content img {
    max-width: 86%;
  }
}

.contacts {
  max-width: 280px;
}
@media (max-width: 550px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts h2 {
  margin: 0 0 40px 0;
}
@media (max-width: 550px) {
  .contacts h2 {
    margin: 0 0 45px 0;
  }
}
.contacts a {
  text-decoration: none;
}
.contacts a:nth-child(2) p {
  margin: 0 0 50px 0;
  padding: 0 0 0 0;
}
.contacts a:nth-child(3) p {
  margin: 0 0 64px 0;
}
@media (max-width: 768px) {
  .contacts a:nth-child(3) p {
    margin: 0 0 68px 0;
  }
}
@media (max-width: 550px) {
  .contacts a:nth-child(3) p {
    margin: 0 0 42px 0;
  }
}
.contacts p:hover {
  transform: translateX(7px);
}
.contacts a p::before {
  content: " ";
  text-align: left;
  float: left;
  display: block;
}
.contacts a:nth-child(2) p::before {
  margin-top: -1.5px;
  background: no-repeat url(../../img/icons/mail.svg);
  height: 26px;
  width: 60px;
}
.contacts a:nth-child(3) p::before {
  content: " ";
  margin-top: -4.5px;
  background: no-repeat url(../../img/icons/phone.svg);
  height: 32px;
  width: 60px;
}

.address {
  max-width: 305px;
  padding: 0 0 0 0;
}
.address h2 {
  margin: 0 0 30px 0;
}
@media (max-width: 550px) {
  .address h2 {
    width: 280px;
    margin: 0 auto 40px auto;
  }
}
.address a {
  text-decoration: none;
}
.address a:nth-child(2) p {
  margin: 0 0 38px 0;
  padding: 0 0 0 0;
}
@media (max-width: 550px) {
  .address a:nth-child(2) p {
    margin: 0 0 42px 0;
  }
}
.address a:nth-child(3) p {
  margin: 0 0 64px 0;
}
@media (max-width: 768px) {
  .address a:nth-child(3) p {
    margin: 0 0 68px 0;
  }
}
@media (max-width: 550px) {
  .address a:nth-child(3) p {
    margin: 0 0 48px 0;
  }
}
.address p:hover {
  transform: translateX(7px);
}
.address a p::before {
  content: " ";
  text-align: left;
  float: left;
  display: block;
  background: no-repeat url(../../img/icons/pin.svg);
  height: 32px;
  width: 42px;
}
.address a:nth-child(2) p::before {
  margin-top: 7.5px;
}
.address a:nth-child(3) p::before {
  margin-top: -5px;
}

.header-pets-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0 40px 0 40px;
  padding: 30px 0 30px 0;
}
@media (max-width: 1024px) {
  .header-pets-content {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 550px) {
  .header-pets-content {
    margin: 0 20px 0 20px;
  }
}

.header-pets-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.header-pets-logo p:first-child {
  font-family: "Georgia", serif;
  font-size: 3.2rem;
  line-height: 110%;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  color: #545454;
  letter-spacing: 0.06em;
}
.header-pets-logo p:last-child {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0 0 0;
  color: #292929;
  letter-spacing: 0.1em;
}
.header-pets-logo:hover {
  transform: scale(1.03);
}

.header-pets-navigation ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 16px 0 16px 0;
  padding: 0 0 0 0;
}
@media (max-width: 767px) {
  .header-pets-navigation ul {
    display: none;
  }
}
.header-pets-navigation ul li {
  margin: 0 0 0 36px;
}
.header-pets-navigation ul li:active {
  color: #FAFAFA;
  border-bottom: solid 3px #F1CDB3;
  transition: all 100ms ease-in-out;
}
.header-pets-navigation ul li:first-child {
  margin: 0 0 0 0;
}
.header-pets-navigation ul li:nth-child(2) {
  border-bottom: solid 3px #F1CDB3;
}
.header-pets-navigation ul li:nth-child(2) a {
  color: #292929;
  pointer-events: none;
}
.header-pets-navigation ul li a {
  font-size: 1.5rem;
  line-height: 160%;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #545454;
}
.header-pets-navigation ul li a:hover {
  color: #292929;
}
.header-pets-navigation ul li a:active {
  color: #545454;
}

.header-pets-hamburger {
  z-index: 1;
  display: none;
  width: 30px;
  height: 22px;
}
@media (max-width: 767px) {
  .header-pets-hamburger {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
  }
}
.header-pets-hamburger .header-pets-hamburger-line {
  background-color: #000000;
  width: 30px;
  height: 2px;
}

.our-friends-pets {
  background-color: #F6F6F6;
}

.our-friends-pets-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 20px;
}
@media (max-width: 1024px) {
  .our-friends-pets-content {
    margin: 0 30px 0 30px;
  }
}
@media (max-width: 550px) {
  .our-friends-pets-content {
    margin: 0 10px 0 10px;
  }
}
.our-friends-pets-content h1 {
  font-family: "Georgia", serif;
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 400;
  font-style: normal;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 80px 0 0 0;
  text-align: center;
}
@media (max-width: 550px) {
  .our-friends-pets-content h1 {
    font-size: 2.5rem;
    line-height: 130%;
    font-weight: 400;
    font-style: normal;
    margin: 42px 0 13px 0;
  }
}
.our-friends-pets-content .button-type-1 {
  width: 261px;
  height: 52px;
  margin: 60px 0 100px 0;
}

.pet-block-card-pets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 44px 20px 0 20px;
  max-height: 1395px;
  overflow-y: hidden;
}
@media (max-width: 1024px) {
  .pet-block-card-pets {
    padding: 14px 25px 0 25px;
    justify-content: space-evenly;
  }
}

.pet-card-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  margin: 15px 0 15px 0;
  border-radius: 9px;
}
.pet-card-pets p {
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
  color: #545454;
  letter-spacing: 0.06em;
  margin: 30px 0;
}
.pet-card-pets button {
  width: 187px;
  height: 52px;
  margin: 0 0 30px 0;
}
.pet-card-pets:hover {
  transform: scale(1.02);
  background-color: #FFFFFF;
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.pet-card-pets:hover button {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.switch-block-pets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 0 100px 0;
  width: clamp(300px, 92%, 340px);
}
@media (max-width: 1024px) {
  .switch-block-pets {
    margin: 25px 0 76px 0;
  }
}
@media (max-width: 550px) {
  .switch-block-pets {
    margin: 25px 0 43px 0;
  }
}
.switch-block-pets button {
  font-family: "Georgia", serif;
  font-size: 2rem;
  line-height: 115%;
  font-weight: 400;
  font-style: normal;
}
.switch-block-pets button:nth-child(3) {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}
.switch-block-pets button:nth-child(3):active {
  background-color: #F1CDB3 !important;
  border-color: #F1CDB3 !important;
}
.switch-block-pets button:nth-child(1), .switch-block-pets button:nth-child(2) {
  margin: 0 0px 0 0px;
  border-color: #CDCDCD;
  color: #CDCDCD;
  pointer-events: none;
}

/*# sourceMappingURL=style.css.map */
