.footer {
    background: url(../../img/noise_transparent@2x.png), 
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 40px 0 40px;
    padding: 40px 0 0 0;
    @include media-laptop {
        justify-content: space-around;
        margin: 0 30px 0 30px; 
        padding: 30px 0 0 0;
    }
    @include media-mobile-XL {
        margin: 0 10px 0 10px; 
    }
    h2 {
        color: $color-light-xl;
        padding: 0 0 0 0;
    }
    p {
        font-family: 'Georgia', serif;
        @include font(2.0rem, 115%, 400, normal);
        color: $color-primary;
        letter-spacing: 0.06em;
    }
    img {
        @include media-laptop {
            margin: 0 30px 0 30px; 
        }
        @include media-mobile-XL {
            max-width: 86%;
        }
    }
}

.contacts {
    max-width: 280px;
    @include media-mobile-XL {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        margin: 0 0 40px 0;
        @include media-mobile-XL {
            margin: 0 0 45px 0; 
        }
    }
    a {
        text-decoration: none;
    }
    a:nth-child(2) p {
        margin: 0 0 50px 0;
        padding: 0 0 0 0;
    }
    a:nth-child(3) p {
        margin: 0 0 64px 0;
        @include media-tablet {
            margin: 0 0 68px 0; 
        }
        @include media-mobile-XL {
            margin: 0 0 42px 0; 
        }
    }
    p {
        @extend %transition;
        &:hover {
            transform: translateX(7px);
        }
    }
    a p::before {
        content: " ";
        text-align: left;  
        float: left;
        display: block; 
    }
    a:nth-child(2) p::before {
        margin-top: -1.5px;
        background: no-repeat url(../../img/icons/mail.svg); 
        height: 26px;  
        width: 60px;
    }
    a:nth-child(3) p::before {
        content: " ";
        margin-top: -4.5px;
        background: no-repeat url(../../img/icons/phone.svg);  
        height: 32px;  
        width: 60px;
    }
}

.address {
    max-width: 305px;
    padding: 0 0 0 0;
    h2 {
        margin: 0 0 30px 0;
        @include media-mobile-XL {
            width: 280px;
            margin: 0 auto 40px auto;
        }
    }
    a {
        text-decoration: none;
    }
    a:nth-child(2) p {
        margin: 0 0 38px 0;
        padding: 0 0 0 0;
        @include media-mobile-XL {
            margin: 0 0 42px 0;
        }
    }
    a:nth-child(3) p {
        margin: 0 0 64px 0;
        @include media-tablet {
            margin: 0 0 68px 0; 
        }
        @include media-mobile-XL {
            margin: 0 0 48px 0;
        }
    }
    p {
        @extend %transition;
        &:hover {
            transform: translateX(7px);
        }
    }
    a p::before {
        content: " ";
        text-align: left;  
        float: left;
        display: block; 
        background: no-repeat url(../../img/icons/pin.svg); 
        height: 32px;  
        width: 42px;
    }
    a:nth-child(2) p::before {
        margin-top: 7.5px;
    }
    a:nth-child(3) p::before {
        margin-top: -5px;
    }
}