.header-content {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0 40px 0 40px;
    padding: 30px 0 30px 0;
}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    @extend %transition;
    p:first-child {
        font-family: 'Georgia', serif;
        @include font(3.2rem, 110%, 400, normal);
        margin: 0;
        color: $color-primary;
        letter-spacing: 0.06em;
    }
    p:last-child {
        @include font(1.3rem, 115%, 400, normal);
        margin: 10px 0 0 0; 
        color: $color-light-xl;
        letter-spacing: 0.1em;
    }
    &:hover {
        transform: scale(1.03);
    }
}

.header-navigation ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 16px 0 16px 0;
    li {
        margin: 0 0 0 36px;
        &:active {
            color: $color-light-s;
            border-bottom: solid 3px $color-primary;
            transition: none;
        }
        &:first-child {
            border-bottom: solid 3px $color-primary;
        }
        &:first-child a {
            color: $color-light-s;
            pointer-events: none;
        }
        a {
            @include font(1.5rem, 160%, 400, normal);
            text-decoration: none;
            color: $color-dark-s;
            @extend %transition;
            &:hover {
                color: $color-light-s;
            }
            &:active {
                color: $color-light-s;
            }
        }
    }
}