.header-pets-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 40px 0 40px;
    padding: 30px 0 30px 0;
    @include media-laptop {
        margin: 0 30px 0 30px; 
    }
    @include media-mobile-XL {
        margin: 0 20px 0 20px; 
    }
}

.header-pets-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    @extend %transition;
    p:first-child {
        font-family: 'Georgia', serif;
        @include font(3.2rem, 110%, 400, normal);
        margin: 0;
        color: $color-dark-l;
        letter-spacing: 0.06em;
    }
    p:last-child {
        @include font(1.3rem, 1.5rem, 400, normal);
        margin: 10px 0 0 0; 
        color: $color-dark-3xl;
        letter-spacing: 0.1em;
    }
    &:hover {
        transform: scale(1.03);
    }
}

.header-pets-navigation {
    @include media-less-tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -320px;
        top: 0;
        height: 100%;
        width: 320px;
        z-index: 1;
        background-color: $color-menu-light;
        transition: all 500ms ease-in-out;
    }
}

.header-pets-navigation ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 16px 0 16px 0;
    padding: 0 0 0 0;
    @include media-less-tablet {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 0 0;
        overflow: hidden;
    }
    li {
        margin: 0 0 0 36px;
        @include media-less-tablet {
            margin: 40px 0 40px 0;
        }
        &:active {
            color: $color-light-s;
            border-bottom: solid 3px $color-primary;
            transition: all 100ms ease-in-out;
        }
        &:first-child {
            margin: 0 0 0 0;
            @include media-less-tablet {
                margin: 40px 0 40px 0;
            }
        }
        &:nth-child(2) {
            border-bottom: solid 3px $color-primary;
        }
        &:nth-child(2) a {
            color: $color-dark-3xl !important; 
            cursor: none;
        }
        a {
            white-space: nowrap;
            @include font(1.5rem, 160%, 400, normal);
            text-decoration: none;
            color: $color-dark-l;
            @extend %transition;
            &:hover {
                color: $color-dark-3xl;
            }
            &:active {
                color: $color-dark-l;
            }
            @include media-less-tablet {
                @include font(3.2rem, 160%, 400, normal);
            }
        }
    }
}

.header-pets-navigation-show {
    @include media-less-tablet {
        transition: all 500ms ease-in-out;
        transform: translateX(-320px);
    }
    ul {
        @include media-less-tablet {
            display: flex;
        }
    }
}

.header-pets-hamburger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
    z-index: 1;
    width: 30px;
    height: 22px;
    @extend %transition;
    @include media-less-tablet {
        display: flex;
    }
    .header-pets-hamburger-line {
    background-color: $color-dark-4xl;
    width: 30px;
    height: 2px;
    }
}

.rotate-header-pets-hamburger {
    transform: rotate(90deg);
}

.header-pets-overlay {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 0%;
    z-index: 1;
    background-color: $color-curtain;
    @extend %transition-slow;
}

.header-pets-overlay-show {
    width: 100%;
    @extend %transition-slow;
}