.our-friends {
    background-color: $color-light-l;
}

.our-friends-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px 0 40px;
    @include media-laptop {
        margin: 0 30px 0 30px; 
    }
    @include media-mobile-XL {
        margin: 0 10px 0 10px;
    }
    h2 {
        margin: 80px 0 20px 0;
        text-align: center;
        @include media-mobile-XL {
            margin: 42px 0 2px 0; 
        }
    }
    .button-type-1 {
        width: 261px;
        height: 52px;
        margin: 20px 0 100px 0;
        @include media-mobile-XL {
            margin: 42px 0 42px 0;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }
}

.switch-pet-block-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    > button:first-child {
        background: center no-repeat url(../../img/icons/arrow-left.svg);
        @include media-mobile-XL {
            margin: 0 11px 0 0;
        }
    }

    > button:last-child {
        background: center no-repeat url(../../img/icons/arrow-right.svg);
        @include media-mobile-XL {
            margin: 0 0 0 11px;
        }
    }
    @include media-less-tablet {
        margin: 42px 0 2px 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    @include media-mobile-XL {
        margin: 0 0 0 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.pet-block-card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 82.5%;
    overflow-x: hidden;
    @include media-less-tablet {
        width: 100%;
        order: -1;
    }
}

.pet-block-card {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 0;
    min-width: 100%;
    @include media-less-tablet {
        width: 100%;
    }
}

.pet-slide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    height: 435px;
    min-width: 100%;
    column-gap: 14px;
    @include media-less-tablet {
        justify-content: space-around;
    }
}

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-s;
    margin: 0 0 0 0;
    border-radius: 9px;
    @extend %transition;
    p {
        font-family: 'Georgia', serif;
        @include font(2.0rem, 115%, 400, normal);
        color: $color-dark-l;
        letter-spacing: 0.06em;
        margin: 30px 0 30px 0;
    }
    button {
        width: 187px;
        height: 52px;
        margin: 0 0 30px 0;
    }
    &:hover {
        background-color: $color-light-xl;
        cursor: pointer;
    }
    &:hover button {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}

.transition-left {
    animation: move-left 2s;
}

.transition-right {
    animation: move-right 2s;
}